body {
  margin:0px;
  background-image: url('./images/blue-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
    flex: 1;
}

h1 {
    font-family:monospace;
    font-size: 60px;
    margin: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
} 

h2 {
    font-family:monospace;
    font-size: 40px;
    margin: 0px;
    white-space: nowrap;
    text-align: center;
} 

h3 {
    font-family:monospace;
    font-size: 18px;
    text-align: center;
    margin: 10px;
}

p {
    font-family:monospace;
    text-align: center;
    font-size: 25px;
    margin: 0px;
    line-height: 35px;
}

/* class for top nav bar */
.topnav {
    list-style-type: none;
    background-color: rgb(88,133,172); 
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    /* border-bottom: solid gray 1px; */
    box-shadow: 0px 1px 5px rgb(60, 60, 60);
    text-align: center;
    z-index: 1;
}

/*item in top nav bar */
.topnav li {
    /* float: left; */
    display: inline-block;
    /* border-right: 1px solid #bbb; */
}

/*final item of top nav bar */
.topnav li:last-child {
    border-right: none;
}

/*links in top nav bar */
.topnav a {
    display: block;
    color: rgb(60, 60, 60);
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    font-family:monospace;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
}

/* .topnav a.active {
    background-color: #04AA6D;
    border-radius: 15px;
    color: white;
} */

.flex-container {
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
  
#intro-text {
width: 450px;
margin: 50px;
text-align: center;
justify-content: center;
align-items: center;
line-height: 75px;
font-size: 30px;
}

#about-intro-img {
    border-radius: 100%;
    object-fit: contain;
    max-width: 500px;
    max-height: 500px
}

.about-text-sections {
    width: 1000px;
    margin: 50px;
    font-size: 25px;
}

hr.rounded {
    margin: 100px auto 70px;
    width: 45%;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 1px;
    opacity: 0.4;
    
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.projects-list > li {
    flex-basis: 350px; /* width: 350px; */
    position: relative;
    cursor: pointer;
}

.projects-list a {
    width: 100%;
    height: 100%;
}

.project-bg {
    object-fit: cover;
    width: 350px;
    height: 200px;
    vertical-align: middle;
    border-radius: 10px;
    position: relative;
}

.projects-list::after {
    content: "";
    flex-basis: 350px;
}

.projects-list li:hover .overlay {
    transform: scale(1);
}

.project-title {
    font-family: monospace;
    font-size: 25px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay {
    position: absolute;
    width: 350px;
    height: 200px;
    background: rgba(57, 57, 57, 0.502);
    top: 0;
    left: 0;
    /* transform: scale(0); 
    transition: all 0.2s 0.1s ease-in-out; */
    color: #fff;
    border-radius: 10px;
    /* center overlay text */
    font-family: monospace;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icon {
    background: url('./images/pico-logo.png');
    height: 40px;
    width: 40px;
    display: block;
    position: absolute;
    opacity: 0.7;
    top:155px;
    left:5px;
}
  

footer {
    text-align: right;
    font-size: 15px;
    color: rgb(60, 60, 60);
    background-color: rgb(88,133,172);
    box-shadow: 0px 1px 5px rgb(60, 60, 60);
    width: 100%;
    margin: 0px;
    bottom: 0;
    left: 0;
    z-index: 1;
}

footer a{
    color: rgb(60, 60, 60);
}












/*
  black: rgb(0, 23, 50); #001732;
  orange: rgb(241, 117, 78); #f1754e;
  lightgreen: rgba(78, 241, 187, 0.7); #4ef1bbb3;
  bg-color: rgb(216, 238, 232);  #d8eee8;
  bg-dark-color: rgb(203, 224, 221); #cbe0dd;
  clicked-cell: rgb(157, 197, 199); #9dc5c7;
  transparent red: rgba(241, 117, 78, 0.7); #f1754eb3;


	font-family: 'Darker Grotesque', sans-serif;
	font-family: 'Press Start 2P', cursive;
*/

/* # Generic */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-container {
    width: 627px;
    margin: auto;
}

/* # Game Panel */

h1 {
    font-size: 40px;
}

.score {
    display: flex;
    justify-content: space-between;
    font-size: 32px;
}

/* # Game grid */

.game-board {
    border: 2px solid rgb(0, 23, 50);
    position: relative;
}

.grid {
    width: calc(48px * 13); /* change multiplier based on grid column count */
    height: calc(48px * 11); /* change multiplier based on game row count */
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 48px;
    height: 48px;
    cursor: pointer;
    outline: 1px dashed grey;
    background-position: center;
    background-size: contain;
}

.cell-dark {
    background-color: rgb(203, 224, 221);
}

.river {
    outline: none;
    background-color: lightblue;
}

.road {
    outline: none;
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
    background-color: gray;
}

.car {
    background-image: url('./images/game/car.png');
}

.bus {
    background-image: url('./images/game/bus.png');
}

.wood {
    background-image: url('./images/game/wood.png');
}

.wall {
    outline: none;
    border-top: 1px white;
    border-bottom: 1px white;
    background-color: black;
}

.worm {
    outline: none;
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
    background-color: pink;
}

.spikes {
    outline: none;
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
    background-color: white;
}

.home {
    outline: none;
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
    background-color: green;
}


.duck {
    background-image: url('./images/game/duck-walk.gif');
}

.river.duck {
    background-image: url('./images/game/duck-walk.gif'), url('images/game/wood.png');
}

.time-up,
.duck-arrived {
    background-image: url('./images/game/duck-standing.png');
}

.duck-hit {
    background-image: url('./images/game/duck-hit.png');
}

.duck-drowned {
    background-image: url('./images/game/duck-drowned.png');
}

/* # Game over */

.end-game-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f1754eb3;

    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
}

.win {
background-color: rgba(78, 241, 187, 0.7);
}

.end-game-text {
    font-size: 48px;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
}

.btn {
    font-size: 24px;
    font-family: 'Darker Grotesque', sans-serif;
    padding: 4px 20px 8px 20px;
    /* width: 50%; */
    cursor: pointer;
    text-transform: uppercase;
    border: 2px solid rgb(0, 23, 50);
}

.btn:hover {
    background-color: rgb(203, 224, 221);
}

/* # Utilities */

.hidden {
    display: none;
}